<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright © 2015 Universidad Icesi
 
 This file is part of the Pascani project.
 
 The Pascani project is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 3 of the License, or (at your
 option) any later version.
 
 The Pascani project is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.
 
 You should have received a copy of the GNU Lesser General Public License
 along with The Pascani project. If not, see http://www.gnu.org/licenses/
-->
<Configuration status="WARN" packages="org.pascani.dsl.lib.util.log4j2">
	<Appenders>
		<RollingFile name="RollingFile" filename="logs/pascani.log"
			filepattern="logs/%d{yyyy-MM-dd-HH:mm:ss}.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<!--<Pascani name="ScaLibrary" />-->
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="RollingFile" />
			<!--<AppenderRef ref="ScaLibrary" />-->
		</Root>
	</Loggers>
</Configuration>
