# Local Files #
*.class
.DS_Store

# Package Files #
*.jar
*.war
*.ear

# Local Directories #
plugins/org.pascani.dsl/target
plugins/org.pascani.dsl/src-gen
plugins/org.pascani.dsl/xtend-gen

plugins/org.pascani.dsl.ide/target
plugins/org.pascani.dsl.ide/src-gen
plugins/org.pascani.dsl.ide/xtend-gen

plugins/org.pascani.dsl.lib/target

plugins/org.pascani.dsl.lib.sca/target

plugins/org.pascani.dsl.lib.compiler/target
plugins/org.pascani.dsl.lib.compiler/src-gen
plugins/org.pascani.dsl.lib.compiler/xtend-gen

plugins/org.pascani.dsl.ui/target
plugins/org.pascani.dsl.ui/src-gen
plugins/org.pascani.dsl.ui/xtend-gen

plugins/org.pascani.dsl.web/target
plugins/org.pascani.dsl.web/src-gen
plugins/org.pascani.dsl.web/xtend-gen

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
