body,
html {
	width: auto;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#logo {
	display: block;
	margin: 50px auto;
	width: 75%;
}

a {
	outline: 0;
}

.v100 {
	height: 100%;
}

.page-content {
	padding-top: 0 !important;
}

#sidebar-container {
	background: #32353D;
	border-right: 2px solid #eee;
	float: left;
	position: relative;
	width: 16%;
}

#main-content {
	float: left;
	width: 84%;
}

.app-bar .icon,
.app-bar .icon img{
	height: 25px;
	margin-top: -4px;
	width: 25px;
}

.dropdown-toggle::before {
	border-left: 2px solid;
	border-bottom: 2px solid;
	height: 7px;
	margin-top: -.3rem;
	width: 7px;
}

.app-bar .app-bar-menu > li.dropdown-toggle,
.app-bar .app-bar-menu > li > a.dropdown-toggle {
	padding-right: 1.9rem;
}

.app-bar .app-bar-menu > li .d-menu {
	border-width: 1px;
}

div[class^=hint] {
	border-color: transparent;
}

div[class^=hint]::before {
	border-color: transparent;
}

.brandname {
	font-weight: bold;
}

.page-content {
	padding-top: 3.125rem;
	min-height: 100%;
	height: 100%;
}

.table .input-control.checkbox {
	line-height: 1;
	min-height: 0;
	height: auto;
}

.sidebar {
	background: transparent;
	box-sizing: border-box;
}

.sidebar li {
	color: #6CBEC2;
	padding-left: 10px;
}

.sidebar li:hover {
	background-color: #6CBEC2;
	color: black;
}

.sidebar li.active {
	background-color: #6CBEC2;
	color: black;
}

.sidebar li a {
	padding: .8rem 1rem .625rem 2.85rem;
}

.sidebar li a,
.sidebar li a .title {
	line-height: 25px;
}

.sidebar li a .icon {
	width: 25px;
	height: 25px;
	font-size: 25px;
	line-height: 25px;
}

.sidebar.bottom {
	bottom: 0;
	left: 0;
	position: absolute;
}

.listview-outlook .list.active,
.listview-outlook .list:active,
.listview-outlook .list:focus {
	outline: 0;
}
