.react-panels,
.react-panel {
	height: 100%;
}
.react-panels {
	font-size: 0;
	overflow-x: auto;
	position: relative;
	white-space: nowrap;
	width: auto;
}
.react-panel {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	vertical-align: top;
}
.react-panel.floating {
	position: absolute;
}
.react-panel.thin {
	width: 350px;
}
.react-panel.regular {
	width: 400px;
}
.react-panel.medium {
	width: 500px;
}
.react-panel.wide {
	width: 700px;
}
.react-panel.expanded {
	width: 100%;
}
.react-panel {
	background-color: transparent;
	font-size: 13px;
}
.react-panel.floating {
	background-color: #eee;
}

.react-panel .dragbar {
	background-color: #ddd;
	bottom: 0;
	cursor: col-resize;
	position: absolute;
	right: 0;
	top: 0;
	width: 2px;
}

/* Internal layout */

.react-panel > header {
	padding: 20px;
}
.react-panel > section {
	padding: 0 20px 20px 20px;
}
.react-panel > section .grid {
	margin: 0;
}
.react-panel .close,
.react-panel .collapse,
.react-panel .expand {
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin-left: 5px;
	width: 20px;
}
.react-panel .close {
	background-image: url('../img/close.png');
}
.react-panel .collapse {
	background-image: url('../img/collapse.png');
}
.react-panel .expand {
	background-image: url('../img/expand.png');
}
