# Local Files #
*.class
.DS_Store
dsl/plugin.xml_gen
dsl.ui/plugin.xml_gen

# Package Files #
*.jar
*.war
*.ear

# Local Directories #
dsl/target
dsl/src-gen
dsl/xtend-gen
dsl/model/generated

dsl.ide/target
dsl.ide/src-gen
dsl.ide/xtend-gen

dsl.ui/target
dsl.ui/src-gen
dsl.ui/xtend-gen

dsl.web/target
dsl.web/src-gen
dsl.web/xtend-gen

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
